# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/untitled1.iml
.idea/vcs.xml
__pycache__/
anything_but_2015
before_2020
data.json
epl.py
join_files.py
processor.py
venv/
combined_csv.csv.bkp
/combined_csv3.csv
